<div class="back-container">
    <md-content>
        <md-toolbar md-colors="{background:'blue'}">
            <h2 class="md-toolbar-tools">
           <span flex-sm="25" flex="12" class="accent">

           </span>
              <span flex="75"> Mood Vision  <span hide-sm hide-xs>| <small > Check the mood of your friends!</small></span>  </span>
            </h2>

        </md-toolbar>
    </md-content>

    <div>


        <div layout="row" layout-sm="row" layout-wrap layout-align="start start">
            <div flex="5" flex-sm="0"></div>


            <div flex-sm="100" flex="90">



                      <center>
                        <a class="md-button md-raised md-accent" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                           accept="image/*">
                         <md-icon>add_a_photo</md-icon> Select Photo</a>
                        <div class="error md-title">{{error}}</div>
                      </center>

                      <div layout="row" layout-sm="row" layout-wrap layout-align="center center">
                        <div flex="50" flex-sm="100" flex-xs="100">
                          <md-card ng-show="file">
                            <md-toolbar class="md-default" md-colors="{background:'amber-A100'}">
                              <div class="md-toolbar-tools">
                                <h2>Image</h2>
                              </div>
                            </md-toolbar>
                            <md-card-content>
                              <center>
                                <img ngf-src="file"  ngf-resize="{width: 400, height: 400}">
                              </center>
                            </md-card-content>
                          </md-card>

                        </div>

                        <div flex="50" flex-sm="100" flex-xs="100">

                          <div ng-show="results">
                            <md-card>
                              <md-toolbar class="md-default"  md-colors="{background:'amber-A100'}">
                                <div class="md-toolbar-tools">
                                  <h2>Mood</h2>
                                </div>
                              </md-toolbar>

                              <md-card-content>
                                <md-chips>
                                  <md-chip ng-repeat="label in labels">{{label.description}}</md-chip>
                                </md-chips>

                                <div ng-repeat="result in results">
                                  <div class="md-subhead">Person {{($index+1)}}</div>
                                  <div ng-show="isLikely(result.joyLikelihood)"><md-icon ng-repeat="i in howManyTimes(result.joyLikelihood)" class="mood joy" md-svg-src="images/mood-icons/happy.svg"> </div>
                                  <div ng-show="isLikely(result.sorrowLikelihood)"><md-icon ng-repeat="i in howManyTimes(result.sorrowLikelihood)" class="mood sorrow" md-svg-src="images/mood-icons/sad.svg"></div>
                                  <div ng-show="isLikely(result.angerLikelihood)"><md-icon ng-repeat="i in howManyTimes(result.angerLikelihood)" class="mood angry" md-svg-src="images/mood-icons/angry.svg"></div>
                                  <div ng-show="isLikely(result.surpriseLikelihood)"><md-icon ng-repeat="i in howManyTimes(result.surpriseLikelihood)" class="mood confused" md-svg-src="images/mood-icons/confused.svg"></div>
                                  <div ng-hide="isEmotionPresent(result)" class="md-display-1"><md-icon class="mood neutral" md-svg-src="images/mood-icons/neutral.svg"></div>
<br>
                                </div>


                              </md-card-content>
                            </md-card>
                          </div>

                        </div>
                      </div>





              <div hide-xs hide-sm>
              <p class='md-body-1'  ng-show='quoteOfTheDay' layout layout-align='center center'>
              <blockquote>
              “All I ever wanted was to reach out and touch another human being not just with my hands but with my heart.”
                <span layout="row" layout-align="end center" class="md-subhead"> - Tahereh Mafi, Shatter Me</span></blockquote>   </p>
              </div>


            </div>
            <div hide-sm flex-sm="0" flex="5"></div>
        </div>



    </div>
</div>
