<div class="back-container">
    <md-content>
        <md-toolbar>
            <h2 class="md-toolbar-tools">
           <span flex-sm="25" flex="12" class="accent">
               <!--<img src="images/logo.png" height="50" width="130">-->
           </span>
                <span flex="75"> Mood Vision  | <small> Check the mood of your friends!</small>  </span>
            </h2>

        </md-toolbar>
    </md-content>

    <div>


        <div layout="row" layout-sm="row" layout-wrap layout-align="start start">
            <div flex="5" flex-sm="0"></div>


            <div flex-sm="100" flex="90">
                <md-card>
                    <!--<md-toolbar class="md-primary">-->
                        <!--<div class="md-toolbar-tools">-->
                            <!--<h3>Login</h3>-->
                        <!--</div>-->
                    <!--</md-toolbar>-->
                    <md-card-content>

                      <div>
                        <a class="md-button md-raised md-accent" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                           accept="image/*">
                          Select File</a>
                      </div>

                      <div layout="row" layout-sm="row" layout-wrap layout-align="center center">
                        <div flex="50">
                          <img ngf-src="file"  ngf-resize="{width: 500, height: 500}">
                        </div>

                        <div flex="50">
                          <div ng-show="results">
                            <div ng-repeat="result in results">
                              Joy : {{result.joyLikelihood}} <br>
                              Sorrow : {{result.sorrowLikelihood}}<br>
                              Anger : {{result.angerLikelihood}}<br>
                              Surprise : {{result.surpriseLikelihood}}<br>



                              <span ng-show="isLikely(result.joyLikelihood)">JOY</span>
                              <span ng-show="isLikely(result.sorrowLikelihood)">SORROW</span>
                              <span ng-show="isLikely(result.angerLikelihood)">ANGER</span>
                              <span ng-show="isLikely(result.surpriseLikelihood)">SURPRISE</span>

                              <md-divider></md-divider>
                            </div>


                          </div>
                        </div>
                      </div>

                        <!--{{results.faceAnnotations[0].underExposedLikelihood}}<br>-->
                    </md-card-content>

                </md-card>



              <p class='md-body-1' ng-show='quoteOfTheDay' layout layout-align='center center'>
              <blockquote>
              “All I ever wanted was to reach out and touch another human being not just with my hands but with my heart.”
                <span layout="row" layout-align="end center" class="md-subhead"> - Tahereh Mafi, Shatter Me</span></blockquote>   </p>


              <!--<md-whiteframe class="md-whiteframe-1dp"  layout layout-align="center center">-->
                <!--<md-content>-->
                <!--<blockquote>-->
                <!--“The painter has the Universe in his mind and hands.”<br>-->
                <!-- - <span layout-align="right"> Leonardo Da Vinci</span>-->
                <!--</blockquote>-->

                <!--</md-content>-->
                <!--</md-whiteframe>-->


            </div>
            <div hide-sm flex-sm="0" flex="5"></div>
        </div>
        <!--<div layout="row">-->
        <!--<div flex="25">-->
        <!--<md-button layout-align="left" class="btn md-raised md-warn" href="http://nikhilvj.techydudes.net/files/pune-pb.html?ckattempt=1"-->
        <!--class="md-subhead" target="_blank">-->
        <!--Footer Sample Text-->
        <!--</md-button>-->
        <!--</div>-->
        <!--<div flex="50"></div>-->
        <!--<div flex="25">-->

        <!--</div>-->

        <!--</div>-->


    </div>
</div>
